<script src="https://unitedreporting.reporterbase.com/library/js/W0_0000_PTA.js" type="text/javascript"></script>
	 
@*<form class="login_form" autocomplete="off" action="https://unitedreporting.reporterbase.com/reporter/WR_00LG_PTA.asp" method="post" name="frmrbwebreporter">
        <input type="hidden" value="" name="appname">
        <input type="hidden" value="" name="os">
        <table>
            <tr>
                <td class="labels">Reporters:</td>
                <td class="fields"><input type="text" autocomplete="off" title="reporter username" value="" name="rbwebuserid" size="24"></td>
                <td class="fields"><input type="password" autocomplete="off" title="password" value="" name="rbwebpassword" size="24"></td>
                <td class="button"><input id="btnptarbweb" class="rb-button" type="submit" onclick="javascript: login(document.frmrbwebreporter,1);" value="LOGIN" name="btnptarbweb"></td>
            </tr>
        </table>
    </form>
*@
<form class="login_form" autocomplete="off" action="https://unitedreporting.reporterbase.com/attorney/WC_00LG_PTA.asp" method="post" name="frmrbwebattorney">
	<input type="hidden" value="" name="appname">
	<input type="hidden" value="" name="os">
	<table>
		<tr>
			<td class="labels">Clients:</td>
			<td class="fields"><input type="text" autocomplete="off" title="client username" value="" name="rbwebuserid" size="24"></td>
			<td class="fields"><input type="password" autocomplete="off" title="password" value="" name="rbwebpassword" size="24"></td>
			<td class="button"><input id="btnptarbweb" class="rb-button" type="submit" value="LOGIN" name="btnptarbweb"></td>
		</tr>
	</table>
</form>