<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="UnitedReportingContainer" connectionString="metadata=res://*/UnitedReporting.csdl|res://*/UnitedReporting.ssdl|res://*/UnitedReporting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.47.13;initial catalog=UnitedReporting;user id=DbAdmin;password=Unitedreporting1218;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ElmahEntities" connectionString="metadata=res://*/ErrorHandling.csdl|res://*/ErrorHandling.ssdl|res://*/ErrorHandling.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.47.13;initial catalog=UnitedReporting;integrated security=False;user id=DbAdmin;password=Unitedreporting1218;connect timeout=15;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>